* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

body { background-color: #eee; }

h1, h2, h3, h4, .blog-link {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", Helvetica, sans-serif;
  font-weight: 200;
  color: #444;
}

.blog-link {
  color: #fe8067;
}

.blog-link:link,
.blog-link:visited,
.blog-link:active {
  text-decoration: none;
}

.blog-link:hover {
  text-decoration: underline;
}

h1 {
  font-size: 180%;
  color: #fe8067;
}

h2 {
  margin-top: 0.25em;
  font-size: 140%;
}

strong {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: #4f585f;
}

h2 + p {
  padding-top: 1.5em;
}

a {
  text-decoration: underline;
  color: #4f585f;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

.bg-cover {
  background: url(../images/miso-soup-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -227px;
}

.not-div-soup {
  width: 100%;
  height: 220px;
  background: url('../images/not-div-soup.png') no-repeat center bottom;
  background-size: contain;
}

.plaid-bar {
  width: 100%;
  height: 7px;
  background: url('../images/plaid-bar.jpg') no-repeat;
  background-size: 100% 10px;
}

.rwd-blast {
  position: absolute;
  top: 10%;
  right: 5%;
  left: 5%;
  width: 90%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.36s;
}

.preload {
  display: none;
}

.info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  min-height: 110px;
  width: 100%;
  padding: 1em;
}

.info:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.info {
  display: inline-block;
}

.info article {
  width: 80%;
  float: left;
  padding-bottom: 1.5em;
  letter-spacing: 0.06em;
}

.links {
  float: right;
  padding-top: 0.3em;
  width: 140px;
}

.links a + a img {
  margin-top: 1.5em;
}

.promo {
  background-color: #fff;
  width: 100%;
  text-align: center;
  border-top: 1px solid #bbb;
}

.videoWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 0;
}

.video {
	position: relative;
	padding-bottom: 53.275%;
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer {
  background-color: #fefefe;
  padding: 10px 0 40px 0;
}

footer > * {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 7px;
}

article.blog {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

article.blog p {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.blog {
  background-color: #fefefe;
  clear: both;
  padding: 50px 20px 60px 20px;
  border-top: 1px solid #bbb;
}

.blog > * {
  width: 65%;
  margin: 0 auto;
}

.blog h1 {
  text-align: center;
  margin-bottom: 30px;
}

.blog p {
  padding-top: 20px;
  font-size: 120%;
}

.blog footer {
  margin-top: 25px;
}

.closed {
  height: 100px;
  overflow: hidden;
}

.closed p {
  opacity: 0;
}

.closed {
  padding-bottom: 10px;
}

.contact {
  border-top: 1px solid #bbb;
  padding-top: 40px;
}

@media (max-width: 950px) {
  .info article {
    width: 100%;
  }
  
  .links {
    float: left;
    padding: 1em 0;
    width: 100%;
  }
  
  .links a + a {
    float: right;
  }
  
  .links a + a img {
    margin-top: 0;
  }
  
  .blog > * {
    width: 85%;
  }
}
