.logo {
  clear: both;
  width: 71.42857142857143%;
  min-height: 181.3333333333333px;
  margin-left: 14.28571428571429%;
}

.how-to-use {
  clear: both;
  width: 71.42857142857143%;
  min-height: 181.3333333333333px;
  margin-left: 14.28571428571429%;
}

.split {
  clear: both;
  width: 71.42857142857143%;
  min-height: 544px;
  margin-left: 14.28571428571429%;
}

.merge {
  clear: both;
  width: 71.42857142857143%;
  min-height: 544px;
  margin-left: 14.28571428571429%;
}

.extend {
  clear: both;
  width: 71.42857142857143%;
  min-height: 544px;
  margin-left: 14.28571428571429%;
}

.mark {
  clear: both;
  width: 71.42857142857143%;
  min-height: 544px;
  margin-left: 14.28571428571429%;
}

.breakpoints {
  clear: both;
  width: 71.42857142857143%;
  min-height: 544.0000000000002px;
  margin-left: 14.28571428571429%;
}

.fullscreen {
  clear: both;
  width: 71.42857142857143%;
  min-height: 544.0000000000002px;
  margin-left: 14.28571428571429%;
}

.export {
  clear: both;
  width: 71.42857142857143%;
  min-height: 548.5px;
  margin-left: 14.28571428571429%;
}

.copyright {
  clear: both;
  width: 71.42857142857143%;
  min-height: 182.8333333333333px;
  margin-left: 14.28571428571429%;
}
